*{
    margin: 0;
    padding: 0;
}
:root{
    --font_Inter: 'Inter', sans-serif;
    /* 500 700 */
}
body{
    width: 100svw;
    height: 100svh;
}
a{
    text-decoration: none;
    color: #00BFA6;
}
a:link, a:visited{
    color: #00BFA6;
}
a:active{
    color: #fff;
}
a, button, h1, span{
    font-family: var(--font_Inter);
}
h1{
    color: #0F0F0F;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
    height: 85px;
}
span{
    color: #232D3F;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
}
a, button{
    font-weight: 500;
}
.projects{
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.glass{
    background: linear-gradient(135deg, #ffffff1a, #ffffff00);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid #ffffff2e;
    box-shadow: 0 8px 32px 0 #0000005e;
}
main{
    height: 90svh;
    min-width: 85svw; /*!Firefox doesn't like auto, why?*/
    max-width: 95svw;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 400px);
    grid-gap: 25px;
    grid-auto-flow: row;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}
.card{
    background-color: #f5f5f5;
    border-radius: 15px;
    border: 2px solid #c3c6ce;
    position: relative;
    overflow: hidden;
    transition: height 2s ease;
    height: 400px;

}
.description{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
img{
    height: 50%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.language{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.language img{
    height: 16px;
    width: 16px;
    border-radius: 0;
}

.box-glass{
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 0;
    transition: max-height 1.5s ease, opacity 2s ease;
    transform-origin: top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    background: linear-gradient(135deg, #ffffff1a, #ffffff00);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 #0000005e;
}
.box-glass button{
    display: none;
}
.card:hover{
    border: 2px solid #008bf8;
    box-shadow: 0 4px 18px 0 #00000040;
}
.card:hover .box-glass{
    max-height: 100%;
}
.card:hover .box-glass button{
    display:block;
}

.btn {
    background-color: #00BFA6;
    width: 200px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    transition: .4s;
}
.btn:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
}
.btn:active {
    background-color: #87dbd0;
}
/* TODO: Mobile view */